---
import '../scss/component/article-link.sass'

const { post } = Astro.props;
---

<li class="article--link--wrapper">
  <a class="article--link" href={post.url}>
    <img
      class="article--link--image"
      src={post.frontmatter.image.url}
      alt={post.frontmatter.image.alt}>
    <span class="article--link--infos">
      <span class="article--link--title">{post.frontmatter.title}</span>
      <span class="article--link--description">{post.frontmatter.description}</span>
    </span>
  </a>
</li>